.text-change {}

.text-change label {
  font-family: Heebo;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  /* margin-right: 50px; */
}

.text {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  /* margin-right: 50px; */
}

.sub-text {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  /* margin-right: 50px; */
}

.text-change span.change {
  /* float: right;
  margin-right: 40%; */
}

.text-change .change button {}

.text-change .change>span {
  padding: 0px 12px;
}