/*
    Zoom Example link : https://w3bits.com/css-image-hover-zoom/
    Author            : Habib
*/
 
  /* .img-hover-zoom  {
    overflow: hidden;
    transition: transform .5s ease;
  }
  
  
  .img-hover-zoom:hover  {
    transform: scale(0.5);
  } */